@{
    
    ViewBag.Title = "Employee Profile";
    //Layout = "~Views/Shared/_EBMSLayoutPage.cshtml";
    
}


<script type="text/javascript">
$(function(){
$("#tabsemployeeprofile").tabs();


});


</script>




<div class="titleprofile">
	<p class="empprofile">Employee Profile</p>
    <p class="profile">PERSONNEL > Employee Profile</p>
				
</div>

<div class="crudbuttonbar">
    <ul class="buttons">
        <li><a href="#"><img src="Images/createIcon.png" height="32"></a></li>
		<li><a href="#"><img src="Images/editIcon.png" height="32"></a></li>
		<li><a href="#"><img src="Images/deleteIcon.png" height="32"></a></li>
		<li><a href="#restorebutton"><img src="Images/restoreIcon.png" height="32"></a></li>
		<li><a href="#"><img src="Images/approveicon.png" height="32"></a></li>
    </ul>
</div>



<div class="searchbox">
	<input class="search" type="text" placeholder=" Search...">
	<p class="searchicon"><a href="#"><img src="Images/searchbut.png" height="15" width="15"></a></p>
				
</div><!--searchbox-->

<div class="printicon">
	<a href="#"><img src ="Images/printIcon.png" height="25" width="25"></a>
</div><!--printicon-->

<div class="empprofiledata">
				
									<table class="empdata">
									  <tr> 
									    <th style="border-style:none; background:none;"></th>
										<th></th>
										<th>Employee No.</th>		
										<th>Name</th>
										<th>Department</th>
										<th>Position</th>
										<th>Status</th>
										
									  </tr>
									  
									  <tr>
										<td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="Images/emp.png" height="15" width="15"></td>
										<td>EMP-2011FD-000001</td>		
										<td>Jc Evangelista</td>
										<td>Finance Department</td>
										<td>Sales Manager</td>
										<td>Regular</td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;">
										<a href="#" ><img id="Images" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;">
										<a href="#" ><img id="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
										
									  </tr>
									  
									  <tr>
									  <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011FD-000002</td>		
										<td>Cyrill Peralta</td>
										<td>Finance Department</td>
										<td>Sales Manager</td>
										<td>Regular</td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									  <tr>
									  <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011FD-000003</td>		
										<td>Joseph Javier</td>
										<td>Finance Department</td>
										<td>Sales Manager</td>
										<td>Contractual</td>
									<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image"src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									   <tr>
									   <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011ACCT-000004</td>		
										<td>John Rodriguez</td>
										<td>Accounting Department</td>
										<td>Accountant</td>
										<td>Probitionary</td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									   <tr>
									   <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011ACCT-000005</td>		
										<td>Denzel Senados</td>
										<td>Accounting Department</td>
										<td>Accountant</td>
										<td>Probitionary</td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									
									  
									  <tr>
									   <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011IT-000006</td>		
										<td>Kim Senados</td>
										<td>IT Department</td>
										<td>IT Consultant/Specialist</td>
										<td>Contractual</td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									  <tr>
									  <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011IT-000007</td>		
										<td>Heidy Viray</td>
										<td>IT Department</td>
										<td>IT Consultant/Specialist</td>
										<td>Contractual</td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									  <tr>
									  <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011IT-000008</td>		
										<td>Chechan Amba</td>
										<td>IT Department</td>
										<td>IT Consultant/Specialist</td>
										<td>Regular</td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									  <tr>
									  <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011IT-000009</td>		
										<td>Grace Abuel </td>
										<td>IT Department</td>
										<td>IT Consultant/Specialist</td>
										<td>Regular</td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									  <tr>
									  <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011IT-000010</td>		
										<td>Ruby Rose </td>
										<td>IT Department</td>
										<td>IT Consultant/Specialist</td>
										<td>Regular</td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images//DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									  
									   <tr>
									   <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011HR-000011</td>		
										<td>Miguel San Juan</td>
										<td>Human Resource Department</td>
										<td>Human Resource Officer</td>
										<td>Regular</td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									  
									  <tr>
									  <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011FD-000012</td>		
										<td>Mark Salonga </td>
										<td>Finance Department</td>
										<td>Sales Manager</td>
										<td>Regular</td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img id="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									 
									  
									  <tr>
									  <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011FD-000013</td>		
										<td>Michelle Mike</td>
										<td>Finance Department</td>
										<td>Sales Manager</td>
										<td>Regular</td>
										<td style="border-style:none;"><a href="#" ><img class="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img class="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img class="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									  <tr>
									  <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011ACCT-000014</td>		
										<td>Shella Ramon</td>
										<td>Accounting Department</td>
										<td>Accountant</td>
										<td>Regular</td>
										<td style="border-style:none;"><a href="#" ><img class="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img class="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img class="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									  
									  <tr>
									  <td style="border-style:none;"><input type="checkbox"></td>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>EMP-2011IT-000015</td>		
										<td>RoseJelynn Bulante</td>
										<td>IT Department</td>
										<td>IT Consultant/Specialist</td>
										<td>Regular</td>
										<td style="border-style:none;"><a href="#" ><img class="image" src ="Images/load.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img class="image" src ="Images/editicon-new.png" height="12" width="12"></a></td>
										<td style="border-style:none;"><a href="#" ><img class="image" src ="Images/DeleteRed.png" height="12" width="12"></a></td>
									  </tr>
									 
									 
			</table>
				</div><!--empprofiledata-->



            <div class="maintab">
				<div id="tabsemployeeprofile" class="container">
				
				<ul>
					<li><a href="#tabs-issueditem">Issued Items</a></li>
					<li><a href="#tabs-fileleave">File Leave</a></li>
					<li><a href="#tabs-fileovertime">File Overtime</a></li>
					<li><a href="#tabs-workexp">Work Experience</a></li>
					<li><a href="#tabs-educbackground">Educational Background</a></li>
				</ul>





				
                    </div>
            </div> <!-- maintab*-->