<html>
<head>
<link type="text/css" rel="stylesheet" href="css/css-home.css"/>
<link type="text/css" rel="stylesheet" href="css/css-sales.css"/>
<link type="text/css" rel="stylesheet" href="css/employeetabinformation.css"/>

<title>EBMS-Employee Schedule</title>


</head>
<body>
	<div class="whole">
		<center>
		<div class="centerbody">
			<div class="header">	
				<img src ="images/EBMS1.png" height="25%" width="100%">
			
			</div><!--header-->
			
			
			<div class="menubar">
			
				<div class="div_welcome">
					<img src ="images/emp.png" height="30" width="30">
					<p>Welcome JAYCEE</p>
					
					<div class="level">
						<p>Administrator</p>
					
					</div><!--level-->
					
				
				</div><!--div_welcome-->
				
				<div class="menu">
					
					<ul class="cssMenu">
							<li><a href="Home.html">HOME</a></li>
							<li><a href="Crm.html">CRM</a></li>
							<li><a href="#">SALES</a>
								<ul>
									<li><a href="OrderSlip.html">Order Slip</a></li>
									<li><a href="DeliveryReceiptRecords.html">Delivery Receipt</a></li>
								</ul>
							
							
							</li>
							<li><a href="Accounting.html">ACCOUNTING</a></li>
							<li><a href="Purchasing.html">PURCHASING</a></li>
							<li><a href="#">PERSONNEL</a>
								<ul>
									<li><a href="EmployeeProfile.html">Employee Profile</a></li>
									<li><a href="EmployeeSchedule.html">Employee Schedule</a></li>
									<li><a href="EmployeeCashAdvance.html">Employee Cash Advance</a></li>
									<li><a href="EmployeeDTR.html">Employee DTR</a></li>
									<li><a href="Payroll.html">Payroll</a></li>
									<li><a href="TimeSheetRecords.html">Time Sheet Records</a></li>
								
								</ul>
							
							
							
							
							</li>
							<li><a href="AssetManagement.html">ASSET MANAGEMENT</a></li>
							<li><a href="SystemRecords.html">SYSTEM RECORDS</a></li>
							<li><a href="Reports.html">REPORTS</a></li>
							<li><a href="Security.html">SECURITY</a></li>
					</ul>
				
					
				</div><!--menu-->
				
			
				
			</div><!--menubar-->
			
			<div class="content">
			
					<div class="summarybar">
					<p>SUMMARY<p>
				</div>
				
				<div class="summarycontent">
					<p>As of 05/21/2015</p>
					<hr></hr>
					<p style="font-weight:bold;">NAME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VALUE</p>
					<hr></hr>
					
					<div class="datasummary">
							<table style="width:200px">
									 <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>New Customer</td>		
										<td>1</td>
									</tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Active</td>		
										<td>13</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Inactive</td>		
										<td>9</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Order</td>		
										<td>0</td>
										
									  </tr>
									  
									  
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Collected</td>		
										<td>P 0.00</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Cash on Hand</td>		
										<td>P 0.00</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Sales</td>		
										<td>P 0.00</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Exp. Voucher</td>		
										<td>P 0.00</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Exp. A/P</td>		
										<td>P 0.00</td>
										
									  </tr>
						</table>
					</div><!--datasummary-->
					
					
				</div><!--summarycontent-->
				
				<div class="attendancebar">
					<p>ATTENDANCE<p>
				</div><!--attendancebar-->
				
				<div class="attendancecontent">
						<div class="labelname">
							<p>NAME <font color="green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tue Apr 21,2015 </font><p>
						</div><!--labelname-->
						
						
						<hr></hr>
						
						<div class="attendancename">
							<table class="aName"style="width:200px">
									 <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Rosejelynn Bulante</td>		
										
									</tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Kimberly Jean Senados</td>		
										
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Joseph John Javier Jr.</td>		
										
										
									  </tr>
									  
							</table>
						</div><!--attendancename-->
				</div><!--attendancecontent-->
				
				<div class="c_drrecords">
					<p class="c_drrecords1">Delivery Receipt Records</p>
				
				</div>
				
				<div class="b_drrecords">
					<p class="b_drrecords1">SALES > Delivery Receipt Records</p>
				</div>
				
				<div class="crudbuttonbar">
				<ul class="buttons">
				
						
						<li><a href="#"><img src="images/createIcon.png" height="32"></a></li>
						<li><a href="#deliveryReceiptbutton"><img src="images/editIcon.png" height="32"></a></li>
						<li><a href="#" ><img src="images/deleteIcon.png" height="32"></a></li>
						<li><a href="#" ><img src="images/restoreIcon.png" height="32"></a></li>
						<li><a href="#"><img src="images/approveicon.png" height="32"></a></li>
						
						<div id="deliveryReceiptbutton"> 
					<div class="div_deliverycontent">
							<a href="#" class="cancel">&times;</a> 
												<p class="title">Delivery Receipt</p>
												
								<div class="div_deliverywhiteArea">
									<form>
										
										<div class="drinfo">
											<fieldset class="f_delivery">
											<legend class="l_drinfo">Delivery Receipt Information</legend>
													
													<p class="cdr">DR No.</p>
													<p class="txt_dr"><input type="text" disabled id="blackborder" class="dr_txtbox" placeholder="<Auto>"></p>
													
													<p class="crno">Reference No.</p>
													<p class="txt_rno"><input type="text" disabled id="blackborder" class="dr_txtbox"></p>
													
													<p class="cdrby">Delivered By</p>
													<p class="txt_drby"><input type="text" id="blackborder" class="dr_txtbox"></p>
													
													<p class="csalesper">Sales Person</p>
													<p class="txt_salesper"><input type="text" disabled id="blackborder" class="dr_txtbox"></p>
												
											
											<fieldset>

										</div><!--drinfo-->
										
										<div class="otherinfo">
											<fieldset class="f_otherinfo">
											<legend class="l_oinfo">Other Information</legend>
											
													<p class="clocation">Location</p>
													<p class="txt_location"><input type="text" disabled id="blackborder" class="dr_txtbox"></p>
													
													<p class="cship">Ship To</p>
													<p><textarea class="txt_ship" cols="25" rows="4" id="blackborder"></textarea></p>
													
													<p class="carea">Area</p>
													<p class="txt_area"><input type="text" disabled id="blackborder" class="dr_txtbox"></p>
													
													<p class="cattention">Attention</p>
													<p class="txt_attention"><input type="text" disabled id="blackborder" class="dr_txtbox"></p>
													
											<fieldset>
										
										</div>
										
										<div class="customerinfo">
										
											<fieldset class="f_custinfo">
											<legend class="l_custinfo">Customer Information</legend>
												
													<p class="ccustomer">Customer</p>
													<p class="txt_customer"><input type="text" disabled id="blackborder" class="dr_txtbox" placeholder="Kim Senados"></p>
													
													<p class="ccity">City</p>
													<p class="txt_city"><input type="text" disabled id="blackborder" class="dr_txtbox" placeholder="Makati"></p>
											
													<p class="cbrgy">Barangay</p>
													<p class="txt_brgy"><input type="text" disabled id="blackborder" class="dr_txtbox" placeholder="Brgy. 689"></p>
													
													<p class="cadd">Address</p>
													<p class="txt_add"><input type="text" disabled id="blackborder" class="dr_txtbox" placeholder="Makati"></p>
													
													<p class="c_area">Area</p>
													<p class="txt_aarea"><input type="text" disabled id="blackborder" class="dr_txtbox" placeholder="Remedios St."></p>
											
											</fieldset>
										
										
										</div>
										
										<div class="ordereditem">
										
											<fieldset class="f_orderitem">
											<legend class="l_orderitem">Ordered Item</legend>
												<table class="dr_order">
													<tr>
														<th>Quantity</th>
														<th>Item Code</th>
														<th>Unit Price</th>
														<th>Amount</th>
													
													</tr>
													
													<tr>
														<td>5</td>
														<td>WR-MIN-SLM-000005</td>
														<td>35.00</td>
														<td>175.00</td>
													
													<tr>
										
													<tr>
														<td>2</td>
														
														<td>WR-MIN-SLM-000004</td>
													
														<td>30.00</td>
														<td>60.00</td>
													
													<tr>
													
													<tr>
														<td>3</td>
														
														<td>WR-PWR-RNP-000001</td>
														
														<td>60.00</td>
														<td>180.00</td>
														
													<tr>
													
													<tr>
														<td>2</td>
														
														<td>SC-PWR-RNP-000004</td>
														<td>Aquabest</td>
														
														<td>140.00</td>
													
													<tr>
													
													<tr>
														<td>2</td>
														
														<td>>WR-ALK-RDA-000001</td>
														
														<td>75.00</td>
														<td>150.00</td>
													
													<tr>	
													
												
												
												</table>
												
											<p class="c_remarks">Remarks</p>
											<p class="txt_rremarks"><input type="text" disabled id="blackborder" class="dr_txtbox"></p>
											
											<p class="c_gamt">Gross Amount</p>
											<p class="txt_gamt"><input type="text" disabled id="blackborder" class="dr_txtbox"></p>
											
											<p class="c_disc">Discount</p>
											<p class="txt_discount"><input type="text" disabled id="blackborder" class="dr_txtbox" placeholder="0%"></p>
											
											<p class="c_netamt">Net Amount</p>
											<p class="txt_netamt"><input type="text" disabled id="blackborder" class="dr_txtbox" placeholder="705.00"></p>
											
											
											
											
											</fieldset>
										
										
										</div>
										
										<div class="drbuttons">
											<input id="btn" class="inputin" type="submit" value="SAVE">&nbsp;
											<input class="inputin" type="button" value="CLEAR" onclick="this.form.reset()"/>
												
											
										</div><!--drbuttons-->
									</form>
							
								</div><!--div_deliverywhiteArea-->
									
														
						</div>	<!--div_deliverycontent-->
		
						</div><!--deliveryReceiptbutton-->
											
									<div id="cover" 
											align="center"> 
									</div>
						
						
						
						
						
				</ul>
				</div><!--crudbuttonbar-->
				
				
				<div class="searchbox">
					<input class="search" type="text" placeholder=" Search...">
					<p class="searchicon"><a href="#"><img src ="images/searchbut.png" height="15" width="15"></a></p>
				
				</div><!--searchbox-->
				
				<div class="printicon">
					<a href="#"><img src ="images/printIcon.png" height="25" width="25"></a>
				</div><!--printicon-->
			
			
				<div class="div_drrecords">
				
									<table class="drrecords">
									  <tr> 
									    
										<th></th>
										<th>DR.#</th>		
										<th>Ref. No</th>
										<th>Date</th>
										<th>Sold To</th>
										<th>Billing Location</th>
										<th>Billing Address</th>
										<th>Billing Area</th>
										<th>Shipping Location</th>
										<th>Shipping Address</th>
										<th>Shipping Area</th>
										<th>Sales Person</th>
										<th>Delivered By</th>
									  </tr>
									  
									  <tr>
										
										<td ><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000001</td>
										<td>OS-2011-000001</td>
										<td>Fri Dec 02, 2011</td>
										<td>Jc Evangelista</td>
										<td>Tejeros</td>
										<td>Manila</td>
										<td>Reyes St.</td>
										<td>Tejeros</td>
										<td>Manila</td>
										<td>Reyes St.</td>
										<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  </tr>
									  
									  <tr>
									 
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000002</td>		
										<td>OS-2011-000002</td>
										<td>Fri Dec 02, 2011</td>
										<td>Cyrill Peralta</td>
										<td>Tejeros</td>
										<td>Manila</td>
										<td>Reyes St.</td>
										<td>Tejeros</td>
										<td>Manila</td>
										<td>Reyes St.</td>
										<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>  </tr>
									  
									  <tr>
									  
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000003</td>	
										<td>OS-2011-000003</td>
										<td>Fri Dec 02, 2011</td>										
										<td>Joseph Javier</td>
										<td>Tejeros</td>
										<td>Manila</td>
										<td>Reyes St.</td>
										<td>Tejeros</td>
										<td>Manila</td>
										<td>Reyes St.</td>
										<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  </tr>
									  
									   <tr>
									  
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000004</td>		
										<td>OS-2011-000004</td>
										<td>Fri Dec 02, 2011</td>
										<td>John Rodriguez</td>
										<td>Kalawaan</td>
										<td>Pasig City</td>
										<td>A.V. Cruz St.</td>
										<td>Kalawaan</td>
										<td>Pasig City</td>
										<td>A.V. Cruz St.</td>
									<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  </tr>
									  
									   <tr>
									  
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000005</td>		
										<td>OS-2011-000005</td>
										<td>Fri Dec 02, 2011</td>
										<td>Denzel Senados</td>
										<td>Kalawaan</td>
										<td>Pasig City</td>
										<td>A.V. Cruz St.</td>
										<td>Kalawaan</td>
										<td>Pasig City</td>
										<td>A.V. Cruz St.</td>
									<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  </tr>
									  
									
									  
									  <tr>
									  
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000006</td>		
										<td>OS-2011-000006</td>
										<td>Fri Dec 02, 2011</td>
										<td>Kim Senados</td>
										<td>Kalawaan</td>
										<td>Pasig City</td>
										<td>A.V. Cruz St.</td>
										<td>Kalawaan</td>
										<td>Pasig City</td>
										<td>A.V. Cruz St.</td>
										<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
										</tr>
									  
									  <tr>
									
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000007</td>	
										<td>OS-2011-000007</td>
										<td>Fri Dec 02, 2011</td>										
										<td>Heidy Viray</td>
										<td>Remedios</td>
										<td>Malate</td>
										<td>Modesto St.</td>
										<td>Remedios</td>
										<td>Malate</td>
										<td>Modesto St.</td>
										<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  </tr>
									  
									  <tr>
									 
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000008</td>	
										<td>OS-2011-000008</td>	
										<td>Fri Dec 02, 2011</td>	
										<td>Chechan Amba</td>
										<td>Remedios</td>
										<td>Malate</td>
										<td>Modesto St.</td>
										<td>Remedios</td>
										<td>Malate</td>
										<td>Modesto St.</td>
										<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  </tr>
									  
									  <tr>
									 
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000009</td>
										<td>OS-2011-000009</td>	
										<td>Fri Dec 02, 2011</td>										
										<td>Grace Abuel </td>
										<td>Remedios</td>
										<td>Malate</td>
										<td>Modesto St.</td>
										<td>Remedios</td>
										<td>Malate</td>
										<td>Modesto St.</td>
										<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  </tr>
									  
									  <tr>
									 
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000010</td>		
										<td>OS-2011-000010</td>
										<td>Fri Dec 02, 2011</td>
										<td>Ruby Rose </td>
										<td>Ayala</td>
										<td>Makati City</td>
										<td>Legazpi St.</td>
										<td>Ayala</td>
										<td>Makati City</td>
										<td>Legazpi St.</td>
									<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  
									  
									   <tr>
									   
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000011</td>		
										<td>OS-2011-000011</td>
										<td>Fri Dec 02, 2011</td>
										<td>Miguel San Juan</td>
										<td>Ayala</td>
										<td>Makati City</td>
										<td>Legazpi St.</td>
										<td>Ayala</td>
										<td>Makati City</td>
										<td>Legazpi St.</td>
										<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  </tr>
									  
									  
									  <tr>
									  
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000012</td>		
										<td>OS-2011-000012</td>
										<td>Fri Dec 02, 2011</td>
										<td>Mark Salonga </td>
										<td>Ayala</td>
										<td>Makati City</td>
										<td>Legazpi St.</td>
										<td>Ayala</td>
										<td>Makati City</td>
										<td>Legazpi St.</td>
										<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  </tr>
									  
									 
									  
									  <tr>
									 
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000013</td>		
										<td>OS-2011-000013</td>
										<td>Fri Dec 02, 2011</td>
										<td>Michelle Mike</td>
										<td>Ayala</td>
										<td>Makati City</td>
										<td>Legazpi St.</td>
										<td>Ayala</td>
										<td>Makati City</td>
										<td>Legazpi St.</td>
										<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  </tr>
									  
									  <tr>
									  
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000014</td>		
										<td>OS-2011-000014</td>
										<td>Fri Dec 02, 2011</td>
										<td>Shella Ramon</td>
										<td>Remedios</td>
										<td>Malate</td>
										<td>Modesto St.</td>
										<td>Remedios</td>
										<td>Malate</td>
										<td>Modesto St.</td>
										<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  </tr>
									  
									  <tr>
									 
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>DR-2011-000015</td>		
										<td>OS-2011-000015</td>
										<td>Fri Dec 02, 2011</td>
										<td>RoseJelynn Bulante</td>
										<td>Remedios</td>
										<td>Malate</td>
										<td>Modesto St.</td>
										<td>Remedios</td>
										<td>Malate</td>
										<td>Modesto St.</td>
										<td>Urvin Soriano</td>
										<td>Ryan Jamisola</td>
									  </tr>
									 
									 
			</table>
				</div><!--div_payroll-->
			
		
			
			</div><!--content-->
			
			<br><br><br>
				
		<footer>
			<div class="footer1">
				<div class="contact">
						<p>Get Connected</p>
						
						<ul class="footerimage">
									<li><a href="#" ><img src="images/facebook.png" width="25" height="25"></a></li>
									<li><a href="#" ><img src="images/instagram.png"  width="25" height="25"></a></li>
									<li><a href="#" ><img src="images/twitter.png"  width="25" height="25"></a></li>
						</ul>
				</div><!--contact-->
				
				<div class="linktab">
							<p><a href="Home.html">HOME</a> | <a href="#">CRM</a> | <a href="#">SALES</a> | <a href="#">ACCOUNTING</a> |  
							<a href="#">PURCHASING |</a>
							<a href="EmployeeProfile.html" id="active">PERSONNEL</a> | <a href="#">ASSET MANAGEMENT</a> | <a href="#">SYSTEM RECORDS</a> | 
							<a href="#">REPORTS</a> | <a href="#">SECURITY</a></p>
				</div><!--linktab-->
				
				<div class="copyright">
					
						<p>Copyright 2015  smesoft.com.ph All Rights Reserved</p>
				</div><!--copyright-->
			
			</div><!--footer1>-->
		</footer>
		</div><!--centerbody-->
		</center>
	
	
	
	
	</div><!--whole-->
</body>
</html>