<html>
<head>
<link type="text/css" rel="stylesheet" href="css/css-home.css"/>
<link type="text/css" rel="stylesheet" href="css/schedule.css"/>
<link type="text/css" rel="stylesheet" href="css/employeetabinformation.css"/>

<title>EBMS-Employee Schedule</title>


</head>
<body>
	<div class="whole">
		<center>
		<div class="centerbody">
			<div class="header">	
				<img src ="images/EBMS1.png" height="25%" width="100%">
			
			</div><!--header-->
			
			
			<div class="menubar">
			
				<div class="div_welcome">
					<img src ="images/emp.png" height="30" width="30">
					<p>Welcome JAYCEE</p>
					
					<div class="level">
						<p>Administrator</p>
					
					</div><!--level-->
					
				
				</div><!--div_welcome-->
				
				<div class="menu">
					
					<ul class="cssMenu">
							<li><a href="Home.html">HOME</a></li>
							<li><a href="Crm.html">CRM</a></li>
							<li><a href="#">SALES</a>
								<ul>
									<li><a href="OrderSlip.html">Order Slip</a></li>
								<li><a href="DeliveryReceiptRecords.html">Delivery Receipt</a></li>
								</ul>
							
							
							</li>
							<li><a href="Accounting.html">ACCOUNTING</a></li>
							<li><a href="Purchasing.html">PURCHASING</a></li>
							<li><a href="#" id="active">PERSONNEL</a>
								<ul>
									<li><a href="EmployeeProfile.html">Employee Profile</a></li>
									<li><a href="EmployeeSchedule.html">Employee Schedule</a></li>
									<li><a href="EmployeeCashAdvance.html">Employee Cash Advance</a></li>
									<li><a href="EmployeeDTR.html">Employee DTR</a></li>
									<li><a href="Payroll.html">Payroll</a></li>
									<li><a href="TimeSheetRecords.html">Time Sheet Records</a></li>
								
								</ul>
							
							
							
							
							</li>
							<li><a href="AssetManagement.html">ASSET MANAGEMENT</a></li>
							<li><a href="SystemRecords.html">SYSTEM RECORDS</a></li>
							<li><a href="Reports.html">REPORTS</a></li>
							<li><a href="Security.html">SECURITY</a></li>
					</ul>
				
					
				</div><!--menu-->
				
			
				
			</div><!--menubar-->
			
			<div class="content">
			
					<div class="summarybar">
					<p>SUMMARY<p>
				</div>
				
				<div class="summarycontent">
					<p>As of 05/21/2015</p>
					<hr></hr>
					<p style="font-weight:bold;">NAME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VALUE</p>
					<hr></hr>
					
					<div class="datasummary">
							<table style="width:200px">
									 <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>New Customer</td>		
										<td>1</td>
									</tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Active</td>		
										<td>13</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Inactive</td>		
										<td>9</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Order</td>		
										<td>0</td>
										
									  </tr>
									  
									  
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Collected</td>		
										<td>P 0.00</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Cash on Hand</td>		
										<td>P 0.00</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Sales</td>		
										<td>P 0.00</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Exp. Voucher</td>		
										<td>P 0.00</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Exp. A/P</td>		
										<td>P 0.00</td>
										
									  </tr>
						</table>
					</div><!--datasummary-->
					
					
				</div><!--summarycontent-->
				
				<div class="attendancebar">
					<p>ATTENDANCE<p>
				</div><!--attendancebar-->
				
				<div class="attendancecontent">
						<div class="labelname">
							<p>NAME <font color="green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tue Apr 21,2015 </font><p>
						</div><!--labelname-->
						
						
						<hr></hr>
						
						<div class="attendancename">
							<table class="aName"style="width:200px">
									 <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Rosejelynn Bulante</td>		
										
									</tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Kimberly Jean Senados</td>		
										
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Joseph John Javier Jr.</td>		
										
										
									  </tr>
									  
							</table>
						</div><!--attendancename-->
				</div><!--attendancecontent-->
				
				<div class="titledtr">
					<p class="empdtr1">Employee Daily Time Record</p>
				
				</div>
				
				<div class="b_employeedtr">
					<p class="dtr2">PERSONNEL > Employee Daily Time Record</p>
				</div>
				
				<div class="crudbuttonbar">
				<ul class="buttons">
				
						
						<li><a href="#createBut"><img src="images/createIcon.png" height="32"></a></li>
						<li><a href="#"><img src="images/editIcon.png" height="32"></a></li>
						<li><a href="#" ><img src="images/deleteIcon.png" height="32"></a></li>
						<li><a href="#" ><img src="images/restoreIcon.png" height="32"></a></li>
						<li><a href="#"><img src="images/approveicon.png" height="32"></a></li>
						
						<div id="createBut"> 
											<div class="div_content">
											
											<a href="#" class="cancel">&times;</a> 
												<p class="title">Daily Time Record</p>
												
								<div class="div_whiteArea">
												<p class="name">Employee Record</p>
												<hr class="hr1"></hr>

									<div class="div_image">
												<image src="images/dtr1.png" height=170 width=170>
									</div>
												
									<div class="div_textBoxes" id="sectionHide">
													
									<form id="form" method="post"  action="#" onsubmit="return validate(this)">
											<br>
											<p class="nametitle" style="font-weight:bold;">Mode</p>
											<div class="bgmode">
													<input class="radiotimein" type="radio">&nbsp;&nbsp;Time-In &emsp;
													<input class="radiotimeout" type="radio">&nbsp;&nbsp;Time-Out 
											</div>
											<br>
											
											<p class="nametitle" style="font-weight:bold;">Name</p>
											<p><input class="nametext" id="blackborder" type="text"> </p>
											<br>
											
											<p class="pass" style="font-weight:bold;">Password</p>
											<p><input class="nametext" id="blackborder" type="text"> </p>
											
											<br>
											
							
									</div>
											
											<br>
											
											
				<div class="dtrtable">
					<table class="dtrtable1" style="width:77%">
							
							<tr>
								<th>Employee Name</th>
								<th>Time-In</th>
								<th>Time-Out</th>
							</tr>
							
							<tr>
								<td>Jc Evangelista</td>
								<td>7:45</td>
								<td></td>
							
							
							</tr>
							
								<tr>
								<td>Cyrill Peralta</td>
								<td>8:00</td>
								<td></td>
							
							
							</tr>
							
								<tr>
								<td>Joseph Javier</td>
								<td>8:15</td>
								<td></td>
							
							
							</tr>
							
								<tr>
								<td>John Rodriguez</td>
								<td>7:35</td>
								<td>6:00 PM</td>
							
							
							</tr>
							
								<tr>
								
								<td>Denzel Senados</td>
								<td>7:45</td>
										<td>6:00 PM</td>
							
							
								</tr>
								
								
								<tr>
									<td>Kim Senados</td>
									<td>7:35</td>
										<td>6:00 PM</td>
								
								
								</tr>
								
								<tr>
									<td>Heidy Viray</td>
									<td>7:35</td>
									<td></td>
								
								
								</tr>
								
								<tr>
									<td>Chechan Amba</td>
									<td>8:15</td>
									<td></td>
								
								
								</tr>
								
								<tr>
									<td>Grace Abuel</td>
									<td>8:15</td>
									<td></td>
								
								
								</tr>
								
								<tr>
									<td>Ruby Rose</td>
									<td>9:00</td>
										<td>6:00 PM</td>
								
								
								</tr>
					
							<tr>
								<td>Miguel San Juan</td>
								<td>9:00</td>
										<td>6:00 PM</td>
							</tr>
							
							<tr>
								<td>Mark Salonga</td>
								<td>9:00</td>
								<td></td>
							</tr>
					
							<tr>
								<td>Michelle Mike</td>
								<td>9:00</td>
								<td></td>
							</tr>
					
					
					<tr>
								<td>Shella Ramon</td>
								<td>9:00</td>
										<td>9:00 PM</td>
							</tr>
					
					
					<tr>
								<td>RoseJelynn Bulante</td>
								<td>9:00</td>
										<td>7:00 PM</td>
							</tr>
					
							
					
					
					</table>



				</div><!--dtrtable-->
											
											
											
											
											
											
											<div class="nextcancelBut">
											
												<input id="btn" class="inputin" type="submit" value="SAVE" onclick="showHideform()"/>&nbsp;
												<input class="inputin" type="button" value="CANCEL" onclick="this.form.reset()"/>
												
											
												
												
												
											</div><!--NEXT AND CANCEL Button-->
							
											</div><!--div_whiteArea-->
											</form>
														
											</div>	
		
									</div><!--div_createBut-->
											
									<div id="cover" 
											align="center"> 
									</div>
						
						
						
						
						
				</ul>
				</div><!--crudbuttonbar-->
				
				
				<div class="searchbox">
					<input class="search" type="text" placeholder=" Search...">
					<p class="searchicon"><a href="#"><img src ="images/searchbut.png" height="15" width="15"></a></p>
				
				</div><!--searchbox-->
				
				<div class="printicon">
					<a href="#"><img src ="images/printIcon.png" height="25" width="25"></a>
				</div><!--printicon-->
			
				
				<div class="empdtr">
				
									<table class="dtr" style="width:77%">
									  <tr> 
									    
										<th></th>
										<th>Employee No.</th>	
										<th>Employee Name</th>		
										<th>Time-In</th>
										<th>Time-Out</th>
										
										
									  </tr>
									  
									  <tr>
										
										<td ><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011FD-000001</td>		
										<td>Jc Evangelista</td>
										<td>7:45</td>
										<td>6:00 PM</td>
										
									  </tr>
									  
									  <tr>
									 
										<td ><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011FD-000002</td>		
										<td>Cyrill Peralta</td>
										<td>8:00</td>
										<td>6:00 PM</td>
										
									  </tr>
									  
									  <tr>
									  
										<td ><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011FD-000003</td>		
										<td>Joseph Javier</td>
										<td>8:15</td>
										<td>6:00 PM</td>
										
									  </tr>
									  
									   <tr>
									  
										<td><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011ACCT-000004</td>		
										<td>John Rodriguez</td>
										<td>7:35</td>
										<td>6:00 PM</td>
										
									  </tr>
									  
									   <tr>
									   
										<td><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011ACCT-000005</td>		
										<td>Denzel Senados</td>
									<td>7:45</td>
										<td>6:00 PM</td>
										
									  </tr>
									  
									
									  
									  <tr>
									  
										<td><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011IT-000006</td>		
										<td>Kim Senados</td>
										<td>7:35</td>
										<td>6:00 PM</td>
									
									  </tr>
									  
									  <tr>
									
										<td><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011IT-000007</td>		
										<td>Heidy Viray</td>
										<td>7:35</td>
										<td>6:00 PM</td>
										
									  </tr>
									  
									  <tr>
									 
										<td><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011IT-000008</td>		
										<td>Chechan Amba</td>
										<td>8:15</td>
										<td>6:00 PM</td>
										
									  </tr>
									  
									  <tr>
									 
										<td><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011IT-000009</td>		
										<td>Grace Abuel </td>
										<td>9:00</td>
										<td>6:00 PM</td>
										
									  </tr>
									  
									  <tr>
									 
										<td><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011IT-000010</td>		
										<td>Ruby Rose </td>
										<td>9:00</td>
										<td>6:00 PM</td>
										
									  </tr>
									  
									  
									   <tr>
									  
										<td><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011HR-000011</td>		
										<td>Miguel San Juan</td>
										<td>9:00</td>
										<td>6:00 PM</td>
									
									  </tr>
									  
									  
									  <tr>
									  
										<td><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011FD-000012</td>		
										<td>Mark Salonga </td>
										<td>9:00</td>
										<td>8:00 PM</td>
									
									  </tr>
									  
									 
									  
									  <tr>
									  
										<td><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011FD-000013</td>		
										<td>Michelle Mike</td>
										<td>9:00</td>
										<td>9:00 PM</td>
									
									  </tr>
									  
									  <tr>
									
										<td><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011ACCT-000014</td>		
										<td>Shella Ramon</td>
										<td>9:00</td>
										<td>7:00 PM</td>
									
									  </tr>
									  
									  <tr>
									  
										<td><img src ="images/time.png" height="15" width="15"></td>
										<td>EMP-2011IT-000015</td>		
										<td>RoseJelynn Bulante</td>
										<td>9:00</td>
										<td>7:00 PM</td>
										
									  </tr>
									 
									 
			</table>
				</div><!--empdtr-->
				
			
			
			</div><!--content-->
				
		<footer>
			<div class="footer1">
				<div class="contact">
						<p>Get Connected</p>
						
						<ul class="footerimage">
									<li><a href="#" ><img src="images/facebook.png" width="25" height="25"></a></li>
									<li><a href="#" ><img src="images/instagram.png"  width="25" height="25"></a></li>
									<li><a href="#" ><img src="images/twitter.png"  width="25" height="25"></a></li>
						</ul>
				</div><!--contact-->
				
				<div class="linktab">
							<p><a href="Home.html">HOME</a> | <a href="#">CRM</a> | <a href="#">SALES</a> | <a href="#">ACCOUNTING</a> |  
							<a href="#">PURCHASING |</a>
							<a href="EmployeeProfile.html" id="active">PERSONNEL</a> | <a href="#">ASSET MANAGEMENT</a> | <a href="#">SYSTEM RECORDS</a> | 
							<a href="#">REPORTS</a> | <a href="#">SECURITY</a></p>
				</div><!--linktab-->
				
				<div class="copyright">
					
						<p>Copyright 2015  smesoft.com.ph All Rights Reserved</p>
				</div><!--copyright-->
			
			</div><!--footer1>-->
		</footer>
		</div><!--centerbody-->
		</center>
	
	
	
	
	</div><!--whole-->
</body>
</html>