<html>
<head>
<link type="text/css" rel="stylesheet" href="css/css-home.css"/>

<title>EBMS- Reports</title></head>
<body>
	<div class="whole">
		<center>
		<div class="centerbody">
			<div class="header">	
				<img src ="images/EBMS1.png" height="25%" width="100%">
			
			</div><!--header-->
			
			
			<div class="menubar">
			
				<div class="div_welcome">
					<img src ="images/emp.png" height="30" width="30">
					<p>Welcome JAYCEE</p>
					
					<div class="level">
						<p>Administrator</p>
					
					</div><!--level-->
					
				
				</div><!--div_welcome-->
				
				<div class="menu">
					
					<ul class="cssMenu">
							<li><a href="Home.html">HOME</a></li>
							<li><a href="Crm.html">CRM</a></li>
							<li><a href="#">SALES</a>
								<ul>
									<li><a href="OrderSlip.html">Order Slip</a></li>
									<li><a href="#">Delivery Receipt</a></li>
								</ul>
							
							</li>
							<li><a href="Accounting.html">ACCOUNTING</a></li>
							<li><a href="Purchasing.html">PURCHASING</a></li>
							<li><a href="#">PERSONNEL</a>
								<ul>
									<li><a href="EmployeeProfile.html">Employee Profile</a></li>
									<li><a href="#">Employee Schedule</a></li>
									<li><a href="#">Employee Cash Advance</a></li>
									<li><a href="#">Employee DTR</a></li>
									<li><a href="#">Payroll</a></li>
									<li><a href="#">Time Sheet Records</a></li>
								
								</ul>
							
							</li>
							<li><a href="AssetManagement.html">ASSET MANAGEMENT</a></li>
							<li><a href="SystemRecords.html">SYSTEM RECORDS</a></li>
							<li><a href="Reports.html" id="active">REPORTS</a></li>
							<li><a href="Security.html">SECURITY</a></li>
					</ul>
				
					
				</div><!--menu-->
				
			
				
			</div><!--menubar-->
			
			<div class="content">
			
				<div class="summarybar">
					<p>SUMMARY<p>
				</div>
				
				<div class="summarycontent">
					<p>As of 05/21/2015</p>
					<hr></hr>
					<p style="font-weight:bold;">NAME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VALUE</p>
					<hr></hr>
					
					<div class="datasummary">
							<table style="width:200px">
									 <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>New Customer</td>		
										<td>1</td>
									</tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Active</td>		
										<td>13</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Inactive</td>		
										<td>9</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Order</td>		
										<td>0</td>
										
									  </tr>
									  
									  
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Collected</td>		
										<td>P 0.00</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Cash on Hand</td>		
										<td>P 0.00</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Total Sales</td>		
										<td>P 0.00</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Exp. Voucher</td>		
										<td>P 0.00</td>
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Exp. A/P</td>		
										<td>P 0.00</td>
										
									  </tr>
						</table>
					</div><!--datasummary-->
					
					
				</div><!--summarycontent-->
				
				<div class="attendancebar">
					<p>ATTENDANCE<p>
				</div><!--attendancebar-->
				
				<div class="attendancecontent">
						<div class="labelname">
							<p>NAME <font color="green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tue Apr 21,2015 </font><p>
						</div><!--labelname-->
						
						
						<hr></hr>
						
						<div class="attendancename">
							<table class="aName"style="width:200px">
									 <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Rosejelynn Bulante</td>		
										
									</tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Kimberly Jean Senados</td>		
										
										
									  </tr>
									  
									  <tr>
										<td><img src ="images/emp.png" height="15" width="15"></td>
										<td>Joseph John Javier Jr.</td>		
										
										
									  </tr>
									  
							</table>
						</div><!--attendancename-->
				</div><!--attendancecontent-->
			
			
			<div class="c_reports">
					<p class="reports">This page is UNDERCONSTRUCTION.</p>
				
			</div>
				
				
			
			
			
			
			</div><!--content-->
			<footer>
			<div class="footer1">
				<div class="contact">
						<p>Get Connected</p>
						
						<ul class="footerimage">
									<li><a href="#" ><img src="images/facebook.png" width="25" height="25"></a></li>
									<li><a href="#" ><img src="images/instagram.png"  width="25" height="25"></a></li>
									<li><a href="#" ><img src="images/twitter.png"  width="25" height="25"></a></li>
						</ul>
				</div><!--contact-->
				
				<div class="linktab">
							<p><a href="Home.html" id="active">HOME</a> | <a href="#">CRM</a> | <a href="#">SALES</a> | <a href="#">ACCOUNTING</a> |  
							<a href="#">PURCHASING |</a>
							<a href="#">PERSONNEL</a> | <a href="#">ASSET MANAGEMENT</a> | <a href="#">SYSTEM RECORDS</a> | <a href="#">REPORTS</a> | 
							<a href="#">SECURITY</a></p>
				</div><!--linktab-->
				
				<div class="copyright">
					
						<p>Copyright 2015  smesoft.com.ph All Rights Reserved</p>
				</div><!--copyright-->
			
			</div><!--footer1>
			</footer>
		</div><!--centerbody-->
		</center>
	
	
	
	
	
	
	</div><!--whole-->
</body>
</html>